body {
    width: 100vw;
    height: 100vh;
}

.shop-container {
    width: 100%;
    background: #1e1b1b none repeat scroll 0 0;
    display: flex;
    justify-content: center;
    
}

.car-cards {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}


.card{
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    color: white;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    
}

.card img {
    width: 30vw;
}

.info {
    width: 40%;
}

.buy {
    margin-top: 10px;
    cursor: pointer;
    
        --background: #275EFE;
        --background-hover: #1D4FE1;
        --text: #fff;
        --icon: #fff;
        display: flex;
        outline: none;
        cursor: pointer;
        border: 0;
        justify-content: center;
        align-items: center;
        padding: 8px;
        border-radius: 11px;
        line-height: 24px;
        font-family: inherit;
        font-weight: 600;
        font-size: 14px;
        overflow: hidden;
        color: var(--text);
        background: var(--b, var(--background));
        
        transform: scale(var(--scale, 1)) translateZ(0);
    }


h3:hover {
    color: #f1356d;
}

.info h1 {
    margin-bottom: 10px;
}

.buy-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.buy:hover {
    
    transform: scale(1.1);
}